{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{%static "css/demo3.css"%}">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title></title>
</head>
<body>

<div class="container" align="center">
 <div class="jumbotron">
  <h1>Welcome To Django World!!</h1>

  <p><a class="btn btn-primary btn-lg" href="/empinfo" role="button">Click here to get employee info</a></p>
 </div>

</div>
</body>
</html>

